<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/Abdur-modified.png" alt="cat profile">
<p>
  I am an aspiring student and self-belief 
  person.  Highly-motivated Student with desire to take on new challenges. Strong worth 
  ethic, adaptability and exceptional 
  interpersonal skills. Adept at working 
  effectively unsupervised and quickly 
  mastering new skills.My motivation and aspirations are deeply rooted in my passion for web-development field. Since I was young, I've felt a profound connection to the natural world, and this connection has driven me to take action.
</p>
<%- include("partials/footer.ejs") %>