<%- include("partials/header.ejs") %>


  <h1>Home Page</h1>

  <p>"I am a proud graduate of Government Boys Higher Secondary School, where I laid the foundation for my academic journey. With dedication and hard work, I achieved remarkable results - scoring 90% in 10th grade and 92% in 12th grade. These formative years instilled in me the importance of discipline and determination.

    Today, I am a MERN stack developer, crafting innovative solutions in the world of web development. My passion for coding is matched only by my love for Kabbadi, a sport that has taught me the values of teamwork, strategy, and perseverance.
    
    When I'm not immersed in code or on the Kabbadi field, you can find me lost in the pages of a good book. Reading has expanded my horizons, broadened my perspective, and made me a lifelong learner.
    
    Being a good citizen is a fundamental principle I uphold. I believe in giving back to my community and making a positive impact on society. Whether it's volunteering, mentoring, or simply lending a helping hand, I strive to be a responsible and compassionate citizen.
    
    My love for traveling has taken me to places far and wide, allowing me to explore diverse cultures and connect with people from all walks of life. These journeys have enriched my understanding of the world and ignited my curiosity to learn more.
    
    In essence, I am a dedicated student, a passionate developer, a Kabbadi enthusiast, a voracious reader, a responsible citizen, and an adventurous traveler. These facets of my life shape who I am, and I am excited to continue embracing new experiences and challenges along this incredible journey called life."
    
    
    
    
    
  </p>
  
  <%- include("partials/footer.ejs") %>